<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="container">

        <h1>Brandon Javier Escudero Avila</h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
        <h2>Soy <span>analista, diseñador y desarrollador</span> de software</h2>

        <nav id="navbar" class="navbar">
            <ul>
            <li><a class="nav-link active" href="#header">Inicio</a></li>
            <li><a class="nav-link" href="#about">Información</a></li>
            <li><a class="nav-link" href="#resume">Resumen</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        </div>
</body>
</html>